name: docker-images

on:
  push:
    branches:
      - master
    paths:
      - 'api/Dockerfile.ci'

jobs:
  build-ci-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: extract swift version
        id: swift-version
        run: |
          VERSION=$(grep "swiftly install" api/Dockerfile.ci | grep -o '[0-9]\+\.[0-9]\+\.[0-9]\+')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/api-ci-build
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.swift-version.outputs.version }}
            type=sha,prefix={{branch}}-
      - name: build and push ci image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          file: ./api/Dockerfile.ci
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
